* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .html {
    scroll-behavior: smooth;
  }

  .text-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e1e1e;
    padding: 12px 32px;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
  }
  
  .text-navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .text-navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .text-navbar a:hover {
    color: #6a4df4;
  }
    
  .layout {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 60px;
  }
  
  .profile-card {
    position: sticky;
    top: 40px;
    width: 280px;
    background: #1e1e1e;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    flex-shrink: 0;
    align-self: flex-start;
  }
  
  .profile-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 25px;
  }
  
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons i {
    font-size: 40px;
    margin: 0 8px;
    color: #6a4df4;
  }
  
  /* CONTENIDO DERECHO */
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 800px;
  }
  .bold {
    font-size: 120px;
    color: white;
  }
  h1 .highlight {
    color: #6a4df4;
    font-size: 120px;
  }
  
  .skills img {
    width: 40px;
    margin: 12px 10px 0 0;
    margin-top: 10px;
  }

  .skills-icons {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 16px;
  }
  
  .skill-icon {
    font-size: 60px;
  }
  
  .js-icon {
    color: #FFD43B;
  }
  
  .css-icon {
    color: #2e76f2;
  }
  
  .html-icon {
    color: #e02b2b;
  }
  
  .intro p {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.8;
    max-width: 720px;
  }

  .about h2 {
    font-size: 80px;
  }

  .about p {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.8;
    max-width: 720px;

  }

  